<!DOCTYPE html>
<html>
<head>
    <title>呼叫中心</title>
    {% script "/js/easyui/jquery.min.js" %}
    {% script "/js/easyui/jquery.easyui.min.js" %}
    {% script "/js/easyui/locale/easyui-lang-zh_CN.js" %}
    {% script "/js/home.js" %}
    {% style "/js/easyui/themes/bootstrap/easyui.css" %}
    {% style "/css/main.css" %}
</head>
<body>
<div class="easyui-layout" style="width: 100%;height: 100%;min-width: 1344px;">
    <div data-options="region:'north'" style="background-color: #f4f4f4;height: 70px;">
        <div id="logpaneltb" style="padding:5px;height:auto;vertical-align: middle;height: 34px;background-color: #ffffff;margin: 10px;border-radius: 8px">
            快速搜索: <input class="easyui-textbox keyword"  style="width:120px">&nbsp;
            <input class="easyui-datetimebox bgtime" style="width:100px;">
            <input class="easyui-datetimebox edtime" style="width:100px;">
            <a class="easyui-linkbutton findlog" >&nbsp;查&nbsp;询&nbsp;</a>&nbsp;
        </div>
    </div>
    <div data-options="region:'center'" border="false" style="background-color: #f4f4f4">
        <div style="width: 270px;float: left;background-color: #ffffff;margin-left: 20px;border:1px solid #e2e2e2;margin-top: 5px;">
            <div style="height: 36px;width: 260px;margin-top:30px;background:url(../img/bg_green.png);margin-left: -10px">

            </div>
            <div style="width: 10px;height: 10px;background: url(../img/ic/ic_green.png)no-repeat;margin-left: -10px"></div>
            <div style="height: 204px;margin-top: 30px;">
                <ul>
                    <li style="font-size: 16px;">今日：43134条</li>
                    <li style="font-size: 16px;">本月：4566545条</li>
                    <li style="font-size: 16px;">当年:12321313条</li>
                </ul>
            </div>
            <div style="height: 60px;width: 260px;padding-right: 10px;text-align: right;line-height: 60px;background-color: #f4f4f4;font-size: 20px;">
                总量：23521626条
            </div>
        </div>
        <div style="width: 270px;float: left;background-color: #ffffff;margin-left: 20px;border:1px solid #e2e2e2;margin-top: 5px;">
            <div style="height: 36px;width: 260px;margin-top:30px;background:url(../img/bg_yellow.png);margin-left: -10px">

            </div>
            <div style="width: 10px;height: 10px;background: url(../img/ic/ic_yellow.png)no-repeat;margin-left: -10px"></div>
            <div style="height: 204px;margin-top: 30px;">
                <ul>
                    <li style="font-size: 16px;">今日：43134条</li>
                    <li style="font-size: 16px;">本月：4566545条</li>
                    <li style="font-size: 16px;">当年:12321313条</li>
                </ul>
            </div>
            <div style="height: 60px;width: 260px;padding-right: 10px;text-align: right;line-height: 60px;background-color: #f4f4f4;font-size: 20px;">
                总量：23521626条
            </div>
        </div>
        <div style="width: 270px;float: left;background-color: #ffffff;margin-left: 20px;border:1px solid #e2e2e2;margin-top: 5px;">
            <div style="height: 36px;width: 260px;margin-top:30px;background:url(../img/bg_pink.png);margin-left: -10px">

            </div>
            <div style="width: 10px;height: 10px;background: url(../img/ic/ic_pink.png)no-repeat;margin-left: -10px"></div>
            <div style="height: 204px;margin-top: 30px;">
                <ul>
                    <li style="font-size: 16px;">今日：43134条</li>
                    <li style="font-size: 16px;">本月：4566545条</li>
                    <li style="font-size: 16px;">当年:12321313条</li>
                </ul>
            </div>
            <div style="height: 60px;width: 260px;padding-right: 10px;text-align: right;line-height: 60px;background-color: #f4f4f4;font-size: 20px;">
                总量：23521626条
            </div>
        </div>
        <div style="width: 270px;float: left;background-color: #ffffff;margin-left: 20px;border:1px solid #e2e2e2;margin-top: 5px;">
            <div style="height: 36px;width: 260px;margin-top:30px;background:url(../img/bg_blue.png);margin-left: -10px">

            </div>
            <div style="width: 10px;height: 10px;background: url(../img/ic/ic_blue.png)no-repeat;margin-left: -10px"></div>
            <div style="height: 204px;margin-top: 30px;">
                <ul>
                    <li style="font-size: 16px;">今日：43134条</li>
                    <li style="font-size: 16px;">本月：4566545条</li>
                    <li style="font-size: 16px;">当年:12321313条</li>
                </ul>
            </div>
            <div style="height: 60px;width: 260px;padding-right: 10px;text-align: right;line-height: 60px;background-color: #f4f4f4;font-size: 20px;">
                总量：23521条
            </div>
        </div>
    </div>
</div>
</body>
</html>

